*.iml
.gradle/
.idea/
/.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.DS_Store
Thumbs.db
local.properties
/local.properties
build/
*/build/
captures/
.externalNativeBuild
.cxx/
*.jks
*.keystore
google-services.json
/app/google-services.json
functions/node_modules/
functions/lib/
firebase-key.json
functions/.firebase/
functions/package-lock.json
.firebase/
.secret
*.log
# Секреты
*.json
firebase-debug.log
/functions/index.js
/functions/package.json
/functions/package-lock.json