google-services.json
app/google-services.json
*.jks
*.keystore
local.properties
.env
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_0.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_1.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_2.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_3.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_4.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_5.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_6.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_7.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_8.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_9.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_10.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_11.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_12.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_13.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_14.jar
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/73b7e5e1ff25c571dbc0b6b0f09aebb2e3533f40e3865eced6c4e1483a12bad4_15.jar
/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/BuildConfig.class.uniqueId0
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/ui/screen/DetailScreenKt$DetailScreen$lambda$50$lambda$46$lambda$45$lambda$44$$inlined$items$default$1.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/ui/screen/DetailScreenKt$DetailScreen$lambda$50$lambda$46$lambda$45$lambda$44$$inlined$items$default$1.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/ui/screen/DetailScreenKt$DetailScreen$lambda$50$lambda$46$lambda$45$lambda$44$$inlined$items$default$2.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/ui/screen/DetailScreenKt$DetailScreen$lambda$50$lambda$46$lambda$45$lambda$44$$inlined$items$default$2.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/ui/screen/DetailScreenKt$DetailScreen$lambda$50$lambda$46$lambda$45$lambda$44$$inlined$items$default$3.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/ui/screen/DetailScreenKt$DetailScreen$lambda$50$lambda$46$lambda$45$lambda$44$$inlined$items$default$3.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/ui/screen/DetailScreenKt$DetailScreen$lambda$50$lambda$46$lambda$45$lambda$44$$inlined$items$default$4.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/ui/screen/DetailScreenKt$DetailScreen$lambda$50$lambda$46$lambda$45$lambda$44$$inlined$items$default$4.dex
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_0/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_1/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_2/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_3/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_4/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_5/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_6/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_7/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_8/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_9/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_10/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_11/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_12/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_13/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_14/graph.bin
/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_4cd91b3cabfd2c837adb59721409cf719a86cd6006a4ae5fad6be7fa61f983e6_bucket_15/graph.bin
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/repository/SeriesRepository$discoverShows$1.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/repository/SeriesRepository$discoverShows$1.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/repository/SeriesRepository$getShowDetails$1.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/repository/SeriesRepository$getShowDetails$1.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/repository/SeriesRepository$getTvMazeId$1.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/repository/SeriesRepository$getTvMazeId$1.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/repository/SeriesRepository$mapTmdbToShow$1.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/repository/SeriesRepository$mapTmdbToShow$1.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/remote/TmdbApi$DefaultImpls.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/remote/TmdbApi$DefaultImpls.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/remote/TmdbApi.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/remote/TmdbApi.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/remote/TmdbEpisodeDetailDto.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/remote/TmdbEpisodeDetailDto.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/remote/TmdbExternalIdsDto.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/remote/TmdbExternalIdsDto.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/remote/TmdbGenreDto.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/remote/TmdbGenreDto.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/remote/TmdbResponse.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/remote/TmdbResponse.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/remote/TmdbSeasonDto.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/remote/TmdbSeasonDto.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/remote/TmdbShowDetailDto.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/remote/TmdbShowDetailDto.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/remote/TmdbShowDto.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/remote/TmdbShowDto.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/remote/TmdbVideoDto.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/remote/TmdbVideoDto.dex
/build/intermediates/built_in_kotlinc/debug/compileDebugKotlin/classes/com/example/pekseries/data/remote/TmdbVideosResponse.class
/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/example/pekseries/data/remote/TmdbVideosResponse.dex
